body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: 'B612 Mono';
    font-size: 15px;
}

.background {
    /* The image used */
    background-image: url("../billiard-2603336_1920.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hallName {
    order: 0;
    align-self: flex-start;
}

.hallImage {
    height: 60px;
    order: 1;
    justify-self: flex-end;

}

.content {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0;
}

.zoomLink {
    display: inline-block;
    transition: .3s;
    text-decoration: none;
}

.zoomLink:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000063;
    color: white;
    padding: 10px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 1000px;
}

.inset {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    position: relative;
}

.center {
    max-width: 80%;
}

.nav-hall-name {
    color: white;
}

.nav-user-name {
    color: white;
}

.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}